<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
	<layout>
		<pattern>%date %-15([%thread]) %-5level %logger{0} - %msg%n</pattern>
	</layout>
</appender>
<root level="ERROR">
	<appender-ref ref="Console" />	
</root>
</configuration>